# Virtualenv
venv/

# Emacs backups
*~

# Python class files
*.pyc

# PyCharm
.idea/

# Log files
*.log

# tmp directories everywhere
tmp/

# Personal information
personal-info/

# TODO: Remove this when you are done with the model!
exercises/2-linear-regression/2-helsinki-2016-nitricoxide

# TODO: Remove this when you are done with the model!
exercises/3-logistic-regression/